{% extends 'confirms/confirm_faculty.html' %}
{% block content %}
<div class="container">
    <h1>Are you sure to delete this '{{ group.name }}'</h1>
    <div class="btn-container">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-yes" type="submit">Yes, I'm sure</button>
        </form>
        <form method="get">
            <a href="{% url 'groups' %}" class="btn btn-primary btn-no">No, take me back</a>
        </form>
    </div>
</div>
<footer>
    <p>Powered by <a href="https://www.linkedin.com/in/mirshoxid-mirshoxidov-ab8b9b32a/">Mirshoxid Mirshoxidov</a></p>
</footer>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}